.footerContainer {
    display: flex;
    position:static;
    bottom: 0%;
    height: 100px;
    width: 100vw;
    background-color: rgb(242, 229, 220);
}

.linkContainer {
    padding: 35px;
}

.links {
    padding-left: 10px;
    height: 50px;
    width: 50px;
    color: black;
}